<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'shop/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'shop/css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'shop/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/myscript.js' %}"></script>
</head>
<body>
    <nav class="nav eshop-nav fixed">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'shop/img/ecommerce-icon.png' %}" style="width: 36px; display: inline; margin-right: 3px; margin-top: -7px;">
                <span>e-Shop</span>  
              </a>
            </div>
            <div class="searchBar">
                <form id="searchForm" method="get" action="{% url 'home' %}">
                    <input class="form-control" type="text" name="s" id="search" value="{{ request.GET.s }}" placeholder="Search"/>
                </form>
            </div>
            <ul class="nav navbar-nav pull-right">
              {% if user.get_username %}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{ user.get_username }}
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
              </li>
             {% else %}
                <!--if not loggedin-->
              <li>
                  <a href="{% url 'login' %}">Login/Register</a>
              </li>
             {% endif %}
            </ul>
          </div>
    </nav>
    <section class="shop-body">
            {% block body %}
            {% endblock %}
    </section>
    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6"><p>Copyright &copy; 2017</p></div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>