{% extends 'base.html' %}
{% block title %}Login/Register{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-3 offset-lg-3 offset-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="login-register">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 optBtn active" id="login">
                            <h1>Login</h1>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 optBtn" id="register">
                            <h1>Register</h1>
                        </div>
                    </div>
                    <div class="inactive register">
                        <form id="reg-form" name="reg-form" method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            {% if reg.errors %}
                            <strong>{{ reg.errors }}</strong>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="id_first_name">First Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </div>
                                        {{ reg.first_name }}
                                    </div>
                                </div>
                                <div col-lg-6 col-md-6 col-sm-6>
                                    <label for="id_last_name">Last Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </div>
                                        {{ reg.last_name }}
                                    </div>
                                </div>
                            </div>
                            <label for="id_email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                {{ reg.email }}
                            </div>
                            <label for="id_username">Username</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                {{ reg.username }}
                            </div>
                            <label for="id_password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-asterisk"></i>
                                </div>
                                {{ reg.password1 }}
                            </div>
                            <label for="id_cpassword">Confirm Password</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-asterisk"></i>
                                </div>
                                {{ reg.password2 }}
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="active login">
                        <form action="{% url 'authenticate' %}" id="log-form" name="log-form" method="POST">
                            <br>
                            {% csrf_token %}
                            {% if form.errors %}
                            <strong>{{ form.errors }}</strong>
                            {% endif %}
                            {{ form.lusername }}
                            <br>
                            {{ form.lpassword }}
                            <br>
                            <button class="btn btn-default" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'shop/js/login.js' %}"></script>
{% endblock %}